html, body {
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Arvo', serif;
	position: relative;
	display: flex;
  align-items: center;
	justify-content: center;
}

a {
	color: #3F51B5;
}

.mono-font {
	font-family: 'Roboto Mono', monospace;
}

#greeting {
	display: block;
	font-size: 0.5em;
	margin: 0;
}

input:focus {
	outline: 0;
}

#content {
	width: calc(0.8 * 11em);
}

input, #box-background {
	width: 100%;
	height: 100%;
}

input {
	font-size: 1em;
	transition-property: color;
	transition-duration: 0.1s;
}

::placeholder {
	color: hsla(0, 0%, 0%, 0.1);
}

.loading {
	transition-duration: 2s;
	color: hsla(0, 0%, 0%, 0.1);
}

.fill {
	width: 100%;
	height: 100%;
}

.hidden {
	opacity: 0;
}

#code-box {
	height: 1.3em;
	width: calc(0.8 * 11em);
	display: inline-block;
	position: relative;
}

#code-box > * {
	box-sizing: border-box;
	display: inline-block;
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
	margin: 0;
	padding: 0;
	letter-spacing: 0.2em;
}

#box-background {
	z-index: -1;
	padding-left: 0px;
	padding-top: 0.02em;
}

#help {
	font-size: 1.5em;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0.5em;
	border: 1px solid hsla(0, 0%, 0%, 0.1);
	border-radius: 3px;
	width: 2em;
	line-height: 2em;
	height: 2em;
	text-decoration: none;
	color: black;
	text-align: center;
}

@media screen and (max-width:600px) {
	html, body {
		min-width: 200px;
	}

	#content {
		font-size: 2em;
	}
}

@media screen and (min-width:600px) {
	#content {
		font-size: 4em;
	}
}

/* What's that? */

#description {
	margin: 2em;
	width: 80vw;
	max-width: 40em;
}

#description > p {
	text-align: justify;
}

#description > p.align-right {
	text-align: right;
}

#code-example {
	text-align: center;
}

ul {
	padding-left: 2em;
}
